name: CI Meson

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install meson
      run: python -m pip install meson ninja
    - name: Dependencies
      run: sudo apt install -y libavformat-dev libavcodec-dev libswresample-dev libavutil-dev libswscale-dev libfmt-dev catch2
    - name: Configure
      run: meson setup build
      env:
        CC: gcc
    - name: Build
      run: meson compile -C build
    - name: Test
      run: meson test -C build
